%h3
  LSDJ Patch Book.
The Patch Book is an online repository for LSDJ synth patches.
%br
Explore & experiment.
%br
%h3
  Recently added Instruments
  = link_to image_tag("feed-icon-28x28.png", :width => 20), instruments_path(:atom)
%table
  %tr
    %th{:width => "50%", :align => :left} Name
    %th{:width => "50%", :align => :left} Type
    %th{:width => "50%", :align => :left} Author
  - @instruments.each do |ins|
    %tr
      %td= link_to ins.name, ins
      %td= link_to ins.type, types_path(ins.type)
      %td= link_to ins.author, author_path(ins.author)
%br
= paginate @instruments