%table.instrument_properties
  %tr
    %td{:width => "70px"}= label_tag :type
    %td{:width => "70px"}= @instrument.type
    = f.hidden_field :type, :value => @instrument.type
  %tr
    %td= label_tag :channel
    %td= f.select :channel, ["PU1", "PU2", "WAV", "NOI"], :include_blank => true
  %tr
    %td= f.label :volume
    %td= f.select :volume, ["0", "1", "2", "3"]
  %tr
    %td= f.label :output
    %td= f.select :output, ["LR", "L", "R"]
  %tr
    %td= f.label :vib_type
    %td= f.select :vib_type, ["HF", "SIN", "TRI", "SQR"]
  %tr
    %td= label_tag :synth
    %td 0
  %tr
    %td= f.label :play
    %td= f.select :play, ["ONCE", "LOOP", "PINGPONG", "MANUAL"]
  %tr
    %td= f.label :length
    %td= f.text_field :length,  :size => 4, :maxlength => 5
  %tr
    %td= f.label :repeat
    %td= f.text_field :repeat, :size => 4, :maxlength => 1
  %tr
    %td= f.label :speed
    %td= f.text_field :speed, :size => 4, :maxlength => 1
  %tr
    %td= f.label :automate
    %td= f.select :automate, ["ON", "OFF"]
  %tr
    %td= f.label :table
    %td= f.select :table, ["ON", "OFF"], {}, {:onchange => 'if (this.options[this.selectedIndex].value == "ON") { $("#INST_Table").toggle();} else {$("#INST_Table").toggle();}'}

%table.wave_synth
  %tr
    %td.small.bold SYNTH
  %tr
    %td= f.label :synth_wave
    %td= f.select :synth_wave, ["SIN", "SQR", "TRI"]
  %tr
    %td= f.label :synth_filter
    %td= f.select :synth_filter, ["LOWP", "HIGHP", "BANDP", "ALLP"]
  %tr
    %td= f.label :synth_q
    %td= f.text_field :synth_q, :size => 4, :maxlength => 1
  %tr
    %td= f.label :synth_dist
    %td= f.select :synth_dist, ["CLIP", "WRAP"]
  %tr
    %td= f.label :synth_phase
    %td= f.select :synth_phase, ["NORMAL", "RESYNC", "RESYNC2"]
  %tr
    %td START:
  %tr
    %td= f.label :synth_start_volume
    %td= f.text_field :synth_start_volume, :size => 4, :maxlength => 2
  %tr
    %td= f.label :synth_start_cutoff
    %td= f.text_field :synth_start_cutoff, :size => 4, :maxlength => 2
  %tr
    %td= f.label :synth_start_phase
    %td= f.text_field :synth_start_phase, :size => 4, :maxlength => 2
  %tr
    %td= f.label :synth_start_vshift
    %td= f.text_field :synth_start_vshift, :size => 4, :maxlength => 2
  %tr
    %td END:
  %tr
    %td= f.label :synth_end_volume
    %td= f.text_field :synth_end_volume, :size => 4, :maxlength => 2
  %tr
    %td= f.label :synth_end_cutoff
    %td= f.text_field :synth_end_cutoff, :size => 4, :maxlength => 2
  %tr
    %td= f.label :synth_end_phase
    %td= f.text_field :synth_end_phase, :size => 4, :maxlength => 2
  %tr
    %td= f.label :synth_end_vshift
    %td= f.text_field :synth_end_vshift, :size => 4, :maxlength => 2


= render :partial => "table", :locals => { :f => f }

%br{:style => "clear: both;"}
%p
  = f.label :description
  %br
  = f.text_area :description, :rows => 5, :cols => 70
%p
  = f.submit "Save"
  = link_to "Cancel", root_url
