= form_for @instrument, :html => { :multipart => true } do |f|
  %p
    = f.error_messages
  %table
    %tr
      %td= f.label :type
      %td= f.select :type, ["NOISE", "PULSE", "WAVE"], {}, {:selected => @instrument.type, :onchange => 'changeINStype(this.options[this.selectedIndex].value)'}
    %tr
      %td= f.label :author
      %td= f.text_field :author
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td= f.label :tag_list
      %td= f.text_field :tag_list
    %tr
      %td= f.label :sample
      %td= f.file_field :sample
    %tr
      %td
      %td.verysmall ogg/mp3, 128Kb max.


    %tr{:height => "20px"}
    %tr
      %td= f.label :instrument_name
      %td{:width => "70px"}= f.text_field :instrument_name, :maxlength => 5, :size => 5
  = render :partial => "form_#{@instrument.type.downcase}", :locals => { :f => f }

