%h3= @instrument.name
%span.verysmall.bold
  %p
    = @instrument.created_at
  %p
    Submitted by:
    = link_to @instrument.user.login, @instrument.user
  %p
    Original author:
    = @instrument.author

%br

%table.instrument_properties
  %tr
    %td{:width => "120px"} NAME
    %td= @instrument.instrument_name
  %tr
    %td TYPE
    %td= @instrument.type
  %tr
    %td ENVELOPE
    %td= @instrument.envelope
  %tr
    %td WAVE
    %td= @instrument.wave
  %tr
    %td OUTPUT
    %td= @instrument.output
  %tr
    %td LENGTH
    %td= @instrument.length
  %tr
    %td SWEEP
    %td= @instrument.sweep
  %tr
    %td VIB.TYPE
    %td= @instrument.vib_type
  %tr
    %td PU2 TUNE
    %td= @instrument.pu2_tune
  %tr
    %td PU FINE
    %td= @instrument.pu_fine
  %tr
    %td AUTOMATE
    %td= @instrument.automate
  %tr
    %td TABLE
    %td= @instrument.table

= render :partial => 'show_table'

%br{:style => "clear: both;"}
%p
  Description:
  = @instrument.description