%h3= @instrument.name
.infos_box
  %span.verysmall.bold
    %p
      = @instrument.created_at
    %p
      Submitted by:
      = link_to @instrument.user.login, @instrument.user
    %p
      Original author:
      = @instrument.author
    - if current_user
      %p
        = link_to "edit", edit_instrument_path(@instrument)
        = link_to "delete", @instrument, :method => :delete, :confirm => "Are you sure?"

= render :partial => "sample"

%br{:style => "clear: both;"}
%br

%table.instrument_properties
  %tr
    %td{:width => "120px"} NAME
    %td.row_value{:width => "50px"}= @instrument.instrument_name
  %tr
    %td TYPE
    %td.row_value= @instrument.type
  %tr{:height => "20px"}
  %tr
    %td ENVELOPE
    %td.row_value= @instrument.envelope
  %tr
    %td WAVE
    %td.row_value= @instrument.wave
  %tr
    %td OUTPUT
    %td.row_value= @instrument.output
  %tr
    %td LENGTH
    %td.row_value= @instrument.length
  %tr
    %td SWEEP
    %td.row_value= @instrument.sweep
  %tr
    %td VIB.TYPE
    %td.row_value= @instrument.vib_type
  %tr
    %td PU2 TUNE
    %td.row_value= @instrument.pu2_tune
  %tr
    %td PU FINE
    %td.row_value= @instrument.pu_fine
  %tr{:height => "20px"}
  %tr
    %td AUTOMATE
    %td.row_value= @instrument.automate
  %tr
    %td TABLE
    %td.row_value= @instrument.table

- if @instrument.table == "ON"
  = render :partial => 'show_table'

= render :partial => 'right_sidebar'

%br{:style => "clear: both;"}
%br
%p
  Description:
  %br
  %pre= @instrument.description