%h3= @instrument.name
%span.verysmall.bold
  %p
    = @instrument.created_at
  %p
    Submitted by:
    = link_to @instrument.user.login, @instrument.user
  %p
    Original author:
    = @instrument.author
  - if current_user
    %p
      = link_to "edit", edit_instrument_path(@instrument)
      = link_to "delete", @instrument, :method => :delete, :confirm => "Are you sure?"

%br

%table.instrument_properties
  %tr
    %td{:width => "120px"} NAME
    %td.row_value{:width => "50px"}= @instrument.instrument_name
  %tr
    %td TYPE
    %td.row_value= @instrument.type
  %tr{:height => "20px"}
  %tr
    %td ENVELOPE
    %td.row_value= @instrument.envelope
  %tr
    %td OUTPUT
    %td.row_value= @instrument.output
  %tr
    %td LENGTH
    %td.row_value= @instrument.length
  %tr
    %td SHAPE
    %td.row_value= @instrument.shape
  %tr{:height => "20px"}
  %tr
    %td AUTOMATE
    %td.row_value= @instrument.automate
  %tr
    %td TABLE
    %td.row_value= @instrument.table

- if @instrument.table == "ON"
  = render :partial => 'show_table'

= render :partial => 'right_sidebar'

%br{:style => "clear: both;"}
%br
%p
  Description:
  %br
  %pre= @instrument.description