#INST_Table_Show
  .small.bold
    Table
  %table
    %tr
      %th &nbsp;
      %th.small{:align => :left} VOL
      %th.small{:align => :left} TSP
      %th.small{:align => :left} CMD
      %th.small{:align => :left} CMD
    %tr
      - @instrument.table_row.each do |trow|
        %tr
          %td.small= trow.row
          %td.small= trow.vol
          %td.small= trow.tsp
          %td.small= trow.cmd1
          %td.small= trow.cmd2