#INST_Table.instrument_table
  .small.bold
    Table
  %table
    %tr
      %th &nbsp;
      %th{:align => :left} VOL
      %th{:align => :left} TSP
      %th{:align => :left} CMD
      %th{:align => :left} CMD
    %tr
      = f.fields_for :table_row do |trow|
        %tr
          %td= trow.object.row
          = trow.hidden_field :row
          %td= trow.text_field :vol, :maxlength => 2, :size => 1
          %td= trow.text_field :tsp, :maxlength => 2, :size => 1
          %td= trow.text_field :cmd1, :maxlength => 7, :size => 4
          %td= trow.text_field :cmd2, :maxlength => 7, :size => 4

- if @instrument.table == "ON"
  %script
    $("#INST_Table").toggle()