%h3
  Instruments
  - if @is_filter_types
    = link_to image_tag("feed-icon-28x28.png", :width => 20), types_path(params[:id], :atom)
  - elsif @is_filter_authors
    = link_to image_tag("feed-icon-28x28.png", :width => 20), author_path(params[:id], :atom)
  - elsif @is_filter_tag
    = link_to image_tag("feed-icon-28x28.png", :width => 20), tag_path(params[:id], :atom)
  - else
    = link_to image_tag("feed-icon-28x28.png", :width => 20), instruments_path(:atom)

%table
  %tr
    %th{:width => "50%", :align => :left}
      %span.small Name
    %th{:width => "50%", :align => :left}
      %span.small Type
    %th{:width => "50%", :align => :left}
      %span.small Author
  - @instruments.each do |instr|
    %tr
      %td.small{:width => "50%"}= link_to instr.name, instr
      %td.small{:width => "50%"}= link_to instr.type, types_path(instr.type)
      %td.small{:width => "50%"}= link_to instr.author, author_path(instr.author)

%br
= paginate @instruments