= form_for @user_session do |f|
  %p
    = f.error_messages :header_tag => :h3
  %p
    = f.label :login
    %br
    = f.text_field :login
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p= f.submit "Login"
