!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    <!--[if lt IE 9]>
    %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    <![endif]-->
    = javascript_include_tag :defaults, :cache => true
    = stylesheet_link_tag 'lessframework', :media => :all
    = stylesheet_link_tag 'application', :cache => true
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1"}
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=VT323:regular"
    - if @app_title
      %title= @app_title
    = yield :head
    = csrf_meta_tag
  %body
    %header
      #logo
        LSDJ Patch Book
      #menu
        %ul
          %li= link_to "Home", root_url
          %li= link_to "Instruments"
          %li= link_to "Authors"
          %li= link_to "Contributors"
    #content
      = yield
    %footer
      Powered by:
      = link_to "LSDJ Patch Book", "https://github.com/rhaamo/LSDJ-patchbook"